body {
 font-family: Tahoma;
 font-size 11pt
 background-color: #f0f0f0;
 color: #333;
}
h1 {
  color: #a52a2a; /* Цвет заголовка */
  font-size: 24pt; /* Размер шрифта в пунктах */
  font-family: Georgia, Times, serif; /* Семейство шрифтов */
  font-weight: normal; /* Нормальное начертание текста  */
}
h3 {
 line-height: 1.2;
}
